@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Padauk:wght@400;700&family=Raleway:wght@300;400;700&display=swap');
$font-family-sans-serif :'Montserrat', 'Raleway', 'Padauk', sans-serif;

$primary:#096a71;
$border-radius:30px;
$btn-padding-x:20px;




@import"../node_modules/bootstrap/scss/bootstrap.scss";
@import"../node_modules/@fortawesome/fontawesome-free/css/all.min.css";

.header{
    background: #ffffffb3;
    backdrop-filter: blur(10px)contrast(130%);
    z-index: 1008;
}
.post-img{
    width: 100%;
    height:350px;
    object-fit:cover;
}
.post-user-img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}
.googel-img{
    width: 70px;
    height: 50px;
    object-fit: cover;
}
.post{
    margin-bottom: 5opx;
    padding-bottom: 50px;
    border-bottom: 1px solid $primary;
}

.arrow{
    bottom: 100px;
    right: 0px;
}
